<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Telegram.Bot" exclude="true" />
    </packageSource>
    <packageSource key="TelegramPackServer">
      <package pattern="Telegram.Bot" />
    </packageSource>
  </packageSourceMapping>
</configuration>